* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --line-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: calc(var(--line-height) - 2px);
    min-width: 117px;
    border-radius: 999px;
    background: transparent;
    border: 1px solid #000958;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2; /* 119.231% */
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.header-action--link,
.navbar__link {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link.active {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action--link:hover {
    color: #000958;
    /* text-shadow: 1px 0 0 currentColor; */
}

/* Hero */

.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero-media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero-media__img--wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 388px;
    height: 488px;
    background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%),
        linear-gradient(0deg, #ffffff, #ffffff);
    box-shadow: 11px 18px 65px 0px #ff9b791f;
    border: 3px solid #ffffff;
    border-radius: 16px;
}

.hero-media__image {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.hero-media__decor {
    position: absolute;
    z-index: -1;
}

.hero-media__decor--right {
    top: 16.6px;
    right: -42px;
}

.hero-media__decor--left {
    top: 247.5px;
    left: -58px;
}

.hero-media__img--wrap--small {
    align-self: flex-end;
    margin: 0 0 -58px -23px;
    width: 186px;
    height: 244px;
    background: linear-gradient(205.64deg, #faa7ad 4.68%, #e87f8a 98.09%),
        linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.65),
            rgba(255, 255, 255, 0.65)
        );
    border: 2px solid #ffffffa6;
    box-shadow: 8px 18px 36px -6px #ea949d2b;
}

.hero-media__list {
    position: absolute;
    padding: 18px 14px;
    bottom: 0;
    left: 130px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-media-list-item {
    display: flex;
    align-items: center;
}

.hero-media-list-item__thumb {
    --background-color: #fec23f;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: var(--background-color, #fec23f);
    object-fit: cover;
}

.hero-media-list-item__info {
    margin-left: 9px;
}

.hero-media-list-item__title {
    color: #181e52;
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-list-item__skeleton {
    --skeleton-width: 118px;
    width: var(--skeleton-width, 118px);
    height: 4px;
    margin-top: 6px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-list-item__separate {
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
    margin: 20px 0;
}

.hero-content__title {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.hero-content__desc {
    margin-top: 24px;
    width: 391px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.hero-content__cta-btn {
    --line-height: 60px;
    min-width: 189px;
    border-radius: 31px;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-color: #ff5b2e;
    color: #fff;
    font-size: 1.6rem;
}

.hero-content__row {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-top: 38px;
}

.hero-content__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    color: #fd5056;
    background: #fffaf5;
    border-radius: 50%;
}

.hero-content__cta-link {
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration: underline;
}

/* About */

.about {
    margin-top: 77px;
    padding: 55px 0 110px 0;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 146px;
    align-items: center;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5e6085;
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__title {
    margin-top: 15px;
}

.about__title,
.about__desc {
    width: 444px;
}

.about__checklist {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    gap: 34px 36px;
    margin-top: 54px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
    box-shadow: 0px 4px 15px -3px #ff5d31b0;
}

.about__check-item::after {
    position: absolute;
    content: url(../icon/check.svg);
    top: 2px;
    left: 5px;
}

.about__card {
    position: absolute;
    width: 136px;
    top: 157px;
    left: 0;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #fff;
    font-family: "Sora", sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43; /* 142.857% */
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -33px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    content: "";
    display: inline-block;
    inset: auto 0 0 0;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    z-index: -1;
}

.about__img {
    display: flex;
    margin: 0 auto;
    width: 450px;
    object-fit: cover;
}

.about__media-decor {
    position: absolute;
    top: 149px;
    right: -51px;
    z-index: -1;
}

.about__img-wrap-bottom {
    margin-left: 0;
    width: 458px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 12.5px;
    right: 63.16px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    top: 336px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    right: -24px;
    bottom: -40px;
}

.about__decor-img:nth-child(7) {
    right: -33px;
    bottom: -47px;
}

.about__decor-img:nth-child(8) {
    right: -42px;
    bottom: -55px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.07;
    border-radius: 999px;
    background: #ff5b2e;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__icon {
    width: 20px;
    filter: drop-shadow(0px 2px 8px rgba(74, 172, 255, 0.19));
}

.tab__title {
    color: #48496a;
    font-family: "Sora", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-decs {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    padding-bottom: 5px;
}

.tab__content-more::after {
    height: 1.5px;
    opacity: 1;
}

/* Service */

.service {
    margin-top: 75px;
    padding: 68px 0 100px 0;
    background: #fff6ed;
}

.service__top {
    text-align: center;
}

.service__title {
    color: #5e6085;
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-bottom: 15px;
}

.service__body {
    margin-top: 71px;
    display: grid;
    column-gap: 65px;
    grid-template-columns: auto 1fr auto;
}

.service-item {
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px 28px;
}

.service-item:not(:last-child) {
    margin-bottom: 24px;
}

.service-item__heading {
    position: relative;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    padding-left: 12px;
}

.service-item__heading::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 2px;
    inset: 0 auto 0 0;
    border-radius: 99px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    margin: 18px 0 24px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.service-item__more {
    position: relative;
    padding-right: 6px;
    color: #34396a;
    font-family: "Sora", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.service-item__more::after {
    position: absolute;
    display: inline-block;
    right: -12px;
    content: url(../icon/arrow-up-right.svg);
    transform: translateY(-35%);
    top: 50%;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 16px;
    left: 16px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
}

.service__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service__cta {
    --line-height: 56px;
    min-width: 214px;
    border-color: #ff5b2e;
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Staff */

.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff__desc {
    color: #5e6085;
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-bottom: 15px;
}

.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 129.5px;
}

.staff-item__img-wrap::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 94%;
    border-radius: inherit;
}

.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../icon/staff-decor-1.svg);
}

.staff-item:nth-child(1) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../icon/staff-decor-2.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../icon/staff-decor-3.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../icon/staff-decor-4.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 10%;
}

.staff-item__img {
    position: relative;
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    z-index: 1;
}

.staff-item__info {
    margin-top: 34px;
    text-align: center;
}

.staff-item__title {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-family: "Sora", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.staff__Cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.staff__btn-cta {
    --line-height: 56px;
    min-width: 193px;
    color: #ff5b2e;
    border-color: currentColor;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
    font-weight: 500;
}

/* Pricing */

.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__top {
    text-align: center;
}

.pricing__desc {
    margin-left: auto;
    margin-right: auto;
    width: 709px;
}

.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border-radius: 999px;
    border: 1px solid #ff5b2e;
    user-select: none;
    cursor: pointer;
}

.pricing__switch-label::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 145px;
    border-radius: inherit;
    background: #ff5b2e;
}

.pricing__switch-value {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    z-index: 1;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    left: auto;
    right: 0;
    width: 131px;
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-child(2),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-child(1) {
    color: #ff5b2e;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -111px;
}
